include ../text/text

//- id name headingText paragraphText
mixin toggle(props)
  -var elId = props.id;
  -var elName = props.name;
  -var elHeadingText = props.headingText;
  -var elParagraphText = props.paragraphText;
  -var elIsChecked = props.isChecked;


  label(for=elId).toggle
    input(type="checkbox", name=elName, id=elId, checked=elIsChecked)
    .toggle-custom
    .toggle-text
      span #{elHeadingText}