include ../text/text

mixin date-field(props)
  .date-field
    .date-field_text-wrapper
      +text('h3', props.heading).h3-ref
      +text('h3', props.status).h3-ref.date-field--status
    .date-field_input-wrapper
      input.date-field_input(
        type=props.type, 
        value=props.value, 
        placeholder=props.placeholder,
        readonly=props.readonly,
        class=props.class)
      if props.isDropdown
        .date-field_dropdown-arrow
          img(src="/assets/img/expand_more.svg", alt="", srcset="").dropdown-img
        
