include ../text/text

// id name headingText paragraphText
mixin like(props)
  -var elId = props.id;
  -var elName = props.name;
  -var elHeadingText = props.headingText;
  -var elParagraphText = props.paragraphText;
  -var elIsChecked = props.isChecked;


  label(for=elId).like
    input(type="checkbox", name=elName, id=elId, checked=elIsChecked)
    .like-custom
    .like-text
      span #{elHeadingText}